

/**
 * @file
 * RTL companion for the messages.css file.
 */


div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  padding: 5px 35px 5px 5px;
  background-position: 99.5% 5px;
}
